<p>
    Welcome to The Front.
</p>

<button onclick="addGold()">Gold</button>

<button onclick="emailTime()">email</button>

<hr>

<h3>Register Account</h3>
<input type="email" placeholder="email" id="register-email">
<input type="text" placeholder="username" id="register-user">
<input type="password" placeholder="password" id="register-pass">
<button id="register-button">register</button>
<p id="register-info"></p>

<hr>

<div class="auth-form" id="login-form">
    <h1>NotherBase</h1>
    <h3>Login to Your Account</h3>
    <input type="email" name="email" placeholder="user@email.com" id="login-email">
    <input type="password" name="password" placeholder="password" id="login-pass">
    <button id="login-button">Login</button>
    <button id="reset-password">Reset Password</button>
    <p id="login-info"></p>
</div>

<div class="auth-form" id="reset-form">
    <h1>NotherBase</h1>
    <h3>Login to Your Account</h3>
    <input type="number" name="token" placeholder="Your Reset Code" id="token">
    <input type="password" name="password" placeholder="Type Your New Password Here" minlength="8" required id="password">
    <input type="password" name="confirmation" placeholder="Type Your New Password Here Again" minlength="8" required id="confirmation">
    <button id="change-password">Change Password</button>
    <p id="change-info"></p>
</div>

<hr>

<div class="locked to nother-base">
    Go to Nono Cove
</div>

<a href="/coast/tall-beach/nono-cove" class="invisible to nother-base">
    Go inside
</a>

<a href="/the-front/check">
    Go to The Check
</a>

<script>
    let $resetPassword = $("#reset-password");
    let $loginButton = $("#login-button");
    let $loginInfo = $("#login-info");
    let $registerButton = $("#register-button");
    let $registerInfo = $("#register-info");
    let $changePasswordButton = $("button#change-password");
    let $changeInfo = $("#change-info");
    let $toNonoButton = $(".locked.to.nother-base");
    let $toNonoLink = $(".invisible.to.nother-base");

    <% if (user) { %>
        $toNonoButton.addClass("invisible");
        $toNonoLink.removeClass("invisible");
    <% } %>

    $loginButton.on("click", async function () {
        await $.post("/s", {
                action: "login",
                data: {
                    email: $("#login-email").val(),
                    password: $("#login-pass").val()
                }
            }, (data) => {
                if (data.status === "success") {
                    $loginInfo.text("To your right you hear the sound of a bang against a chain-link fence. You've logged in.");
                    $toNonoButton.addClass("invisible");
                    $toNonoLink.removeClass("invisible");
                    
                    playerInventory.refresh();
                    playerAttributes.refresh();
                    accountServices.refresh();
                }
                else console.log(data);
            });
    });

    $registerButton.on("click", async function () {
        await $.post("/s", {
            action: "register",
            data: {
                username: $("#register-user").val(),
                password: $("#register-pass").val(),
                email: $("#register-email").val()
            }
        }, (data) => {
            if (data.status === "success") $registerInfo.text("Account registered.");
            else console.log(data);
        });
    });

    $resetPassword.on("click", async function () {
        try {
            await $.get("/user/password-reset", { email: $("#login-email").val() });
            $loginInfo.text("Reset link sent to your email.");
        } 
        catch(err) {
            if (error.status === 401) {
                $loginInfo.text("Reset Error: Email not found!");
            }
            else if (error.status === 500) {
                $loginInfo.text("Server Error: Try again later!");
            }
        }
    });

    $changePasswordButton.on("click", async function () {
        try {
            let token = $("#reset-form #token").val();

            await $.post(`/user/password-reset/${token}`, {
                token: token,
                password: $("#reset-form #password").val(),
                confirmation: $("#reset-form #confirmation").val()
            }, (data) => {
                $changeInfo.text("Password changed.");
            });
        } catch (error) {
            if (error.status === 498) {
                $changeInfo.text("Change Error: Your reset code expired! Please request a new one.");
            }
            else if (error.status === 400) {
                $changeInfo.text("Change Error: Passwords must match!");
            }
            else if (error.status === 404) {
                $changeInfo.text("Change Error: Reset code not valid!");
            }
            else if (error.status === 500) {
                $changeInfo.text("Server Error: Try again later!");
            }
        }
    });

    let addGold = function addGold(params) {
        playerInventory.change(itemIDs[0], 2);
    }

    let time = 0;

    let emailTime = async () => {
        $.post("/coast/tall-beach/nono-cove/index/serve/emailTime", {
            toEmail: "wyattsushi@gmail.com",
            subject: "New Time Update!",
            html: `New Time: ${time}`
        }, (res) => {
            console.log(res);
        })
    }
</script>