<div class="content invisible" id="debug">
    <h3>user</h3>
    <% if (user) { %>
        <p><%= user._id %></p>
    <% } else { %>
        <p>Please login to view user.</p>
    <% } %>

    <h3>inv</h3>
    <% if (user) { %>
        <p><%= inventory.items.length %> items</p>
    <% } else { %>
        <p>Please login to view inventory.</p>
    <% } %>
</div>