<%- include("./head.ejs"); %>

<main class="override">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/base.js"></script>
    <script>
        const currentRoute = "<%- route %>";
        const base = new Base();
    </script>

    <% if (requireUser && !user?.memory) { %>
        <div class="login-cover">
            <a class="header-link" href="/">
                <img src="/img/logo.png">
                <h1>NotherBase</h1>
            </a>
            <div class="form">
                <h3>Login to Your Account</h3>
                <label>
                    <h4>Your Username:</h4>
                    <input type="text" placeholder="Username" id="username">
                </label>
                <label>
                    <h4>Your Password:</h4>
                    <input type="password" placeholder="password" id="pass">
                </label>
                <button id="login" onclick="coverLogin()">Login</button>
                <a href="https://www.notherbase.com/the-front/keeper">Reset Password</a>
            </div>
            <p class="info"></p>

            <script>
                let $username = $(".login-cover #username");
                let $pass = $(".login-cover #pass");
                let $form = $(".login-cover .form");
                let $info = $(".login-cover .info");

                const coverLogin = async () => {
                    let username = $username.val();
                    $username.val("");
                    let pass = $pass.val();
                    $pass.val("");

                    $form.addClass("invisible");
                    $info.text("Attempting to login...");

                    let response = await base.attemptLogin(username, pass);

                    $info.text(response.message);

                    if (response.status === "success") location.reload();
                    else {
                        $form.removeClass("invisible");
                        $username.focus();
                        $username.val(username);
                    }
                };

                $username.keypress(function (e) {
                    if (e.which == 13) {
                        coverLogin();
                        e.stopPropagation();
                    }
                });

                $pass.keypress(function (e) {
                    if (e.which == 13) {
                        coverLogin();
                        e.stopPropagation();
                    }
                });
            </script>
        </div>
    <% } else { %>
        <%- include(`${main}.ejs`); %>
    <% } %>
</main>

<%- include("./footer.ejs"); %>