<%- include("./head.ejs"); %>

<main class="override">
    <%- include(`${main}.ejs`); %>
</main>

<div class="ui">
    <%- include("./menu.ejs", {user: user}); %>
</div>

<%- include("./footer.ejs"); %>