
<footer>
    <% if (user) { %> 
        <p class="login-status">Logged In: <%= user.memory.data.username %></p><button onclick="base.logout()">Logout</button>
    <% } else { %>
        <p class="login-status">Not Logged In</p>
    <% } %>
</footer>
</body>
</html>