<div class="fade invisible">

</div>

<div class="menu invisible">
    <div class="tabs">
        <button id="inventory">
            Inventory
        </button>
        <button id="player">
            Player
        </button>
        <button id="account">
            Account
        </button>
        <button id="more">
            More
        </button>
    </div>

    <button id="close">
        X
    </button>

    <div id="content-window">
        <%- include("./inventory.ejs"); %>
        <%- include("./player.ejs"); %>
        <%- include("./account.ejs", { user: user }); %>
        <%- include("./more.ejs"); %>
    </div>

    <button onclick="logout()">Logout</button>
</div>

<button id="menu"><i class="fas fa-cog"></i></button>

<script>
    let $menu = $(".menu");
    let $fade = $(".ui .fade");
    let menuClosing = false;

    let closeMenu = function closeMenu() {
        menuClosing = true;
        $fade.addClass("camo");
        
        setTimeout(() => { 
            $menu.addClass("invisible");
            $fade.addClass("invisible");
            menuClosing = false;
        }, 100);
    }

    $("button#menu").on("click", function () {
        $menu.toggleClass("invisible");
        $fade.removeClass("camo");
        $fade.removeClass("invisible");
    });

    $fade.on("click", function () {
        if (!menuClosing) closeMenu();
    });

    $(".menu button#close").on("click", function () {
        closeMenu();
    });

    $(".menu .tabs button").on("click", function (e) {
        switchTab(e.currentTarget.id);
    });

    let switchTab = function switchTab(id) {
        $("#content-window .content").addClass("invisible");
        $(".menu .tabs button").removeClass("selected");
        $(`#content-window #${id}`).removeClass("invisible");
        $(`.menu .tabs #${id}`).addClass("selected");
    }

    let logout = () => {
        $.post("/s", JSON.stringify({
            action: "logout"
        }), () => {location.reload();});
    }

    switchTab("inventory");
</script>