<div class="menu invisible">
    <div class="fade">
    
    </div>
    <div class="tabs">
        <button id="inventory">
            Inventory
        </button>
        <button id="player">
            Player
        </button>
        <button id="contact-form">
            Contact
        </button>
        <button id="debug">
            Debug
        </button>
    </div>

    <button id="close">
        X
    </button>

    <div id="content-window">
        <%- include("./inventory.ejs"); %>
        <%- include("./player.ejs"); %>
        <%- include("./contact.ejs"); %>
        <%- include("./debug.ejs"); %>
    </div>

    <a href="/user/logout" id="logout">Logout</a>
</div>

<button id="menu"><i class="fas fa-cog"></i></button>

<script>
    let $menu = $(".menu");
    let $fade = $(".menu .fade");
    let menuClosing = false;

    let closeMenu = function closeMenu() {
        menuClosing = true;
        $fade.addClass("camo");
        
        setTimeout(() => { 
            $menu.toggleClass("invisible");
            menuClosing = false;
        }, 100);
    }

    $("button#menu").on("click", function () {
        $menu.toggleClass("invisible");
        $fade.removeClass("camo");
    });

    $fade.on("click", function () {
        if (!menuClosing) closeMenu();
    });

    $(".menu button#close").on("click", function () {
        closeMenu();
    });

    $(".menu .tabs button").on("click", function (e) {
        switchTab(e.currentTarget.id);
    });

    let switchTab = function switchTab(id) {
        $("#content-window .content").addClass("invisible");
        $(".menu .tabs button").removeClass("selected");
        $(`#content-window #${id}`).removeClass("invisible");
        $(`.menu .tabs #${id}`).addClass("selected");
    }

    switchTab("inventory");
</script>