<div class="menu invisible">
    

    <div class="tabs">
        <button id="inventory">
            Inventory
        </button>
        <button id="player">
            Player
        </button>
        <button id="contact">
            Contact
        </button>

        <button id="close">
            X
        </button>
    </div>

    <div class="content">
        <%- include("./contact.ejs"); %>

    </div>

    <% if (user) { %> 
        <a href="/user/logout">Logout</a>
    <% } %> 
</div>

<button id="menu"><i class="fas fa-cog"></i></button>

<script>
    let $menu = $(".menu");

    $("button#menu").on("click", function () {
        $menu.toggleClass("invisible");
    });

    $("button#close").on("click", function () {
        $menu.toggleClass("invisible");
    });
</script>