<div class="fade invisible" onclick="base.closeMenu()">

</div>

<div class="menu invisible">
    <div class="tabs">
        <button id="inventory" onclick="base.switchTab('inventory')">
            Inventory
        </button>
        <button id="player" onclick="base.switchTab('player')">
            Player
        </button>
        <button id="account" onclick="base.switchTab('account')">
            Account
        </button>
        <button id="more" onclick="base.switchTab('more')">
            More
        </button>
    </div>

    <button id="close" onclick="base.closeMenu()">
        X
    </button>

    <div id="content-window">
        <%- include("./menu/inventory.ejs"); %>
        <%- include("./menu/player.ejs"); %>
        <%- include("./menu/account.ejs", { user: user }); %>
        <%- include("./menu/more.ejs"); %>
    </div>

    <button onclick="logoutViaMenu()">Logout</button>

    <script>
        const logoutViaMenu = async () => {
            let response = await base.logout();
            console.log(response);
            location.reload();
        }
    </script>
</div>

<button id="menu" onclick="base.openMenu()"><i class="fas fa-cog"></i></button>