<div class="content invisible" id="more">
    <h4>Message Nother</h4>
    <textarea id="content"></textarea>
    <button id="send" onclick="sendMessageToNother()">Send Message</button>
</div>

<script>
    let sendMessageToNother = async () => {
        await commune("contactNother", {
            content: $(".menu .content#more #content").val(),
            route: currentRoute
        });

        $(".menu .content#more #content").val("");
    }
</script>