<div class="content invisible" id="player">

</div>

<script>
    let $content = $(".content#player");

    let setAtt = async function setAtt(change, to) {
        console.log(`${change} : ${to}`);
        await $.post("/user/attributes", { change: change, to: to }, async function (data) {
            await refreshPlayerContent();
        });
    }

    let refreshPlayerContent = async function refreshPlayerContent(params) {
        $content.empty();

        $.get("/user/attributes", function (data) {
            for (const [key, value] of Object.entries(data.attributes)) {
                <% if (user.authLevels.includes("Creator")) { %>
                    $content.append(`<h3 id="${key}">
                        ${key}: ${value}
                        <input type="number"></input>
                        <button onclick="setAtt('${key}', $('.content#player h3#${key} input').val())">Set</button>
                    </h3>`);
                <% } else { %>
                    $content.append(`<h3 id="${key}">${key}: ${value}</h3>`);
                <% } %>
            }
        });
    }

    refreshPlayerContent();
</script>