<style>
    <%- include("./check.css"); %> 
</style>

<h1>The Big Check</h1>

<hr>

<button onclick="base.do('add-more-gold')">+3</button>
<button onclick="base.do('subtract-gold')">-30</button>
<button onclick="base.do('emailTime', { route: '/the-front/check'})">email</button>
<button class="switch" onclick="base.do('flip')">Flip Me</button>
<input type="text" id="test" placeholder="Loading...">
<button onclick="saveInput()">Save</button>
<p>saved: <%= preprocessed.saved %></p>

<hr>

<a href="/the-front">
    Go to The Front
</a>

<script>
    const $inp = $("input#test");

    base.loadAll("test-save3").then((res) => {
        console.log(res);
        if (res[0]?.memory.data.text) $inp.attr("placeholder", res[0].memory.data.text);
        else  $inp.attr("placeholder", "No Input Saved");
    });

    const saveInput = function saveInput() {
        let inp = $inp.val();

        base.do("save-input", { 
            text: inp,
            route: "/the-front/check"
         });
    }

    let switchSocket = io({
        query: {
            room: "big-switch",
            name: "player"
        }
    });

    switchSocket.on('big-switch', (update) => {
        flipSwitch(update.flipped);
    });

    let flipSwitch = function flipSwitch(flipped) {
        if (flipped) $(".switch").addClass("flipped");
        else $(".switch").removeClass("flipped");
    }
</script>