<h1>The Big Check</h1>

<hr>

<button onclick="base.do('add-more-gold')">+3</button>
<button onclick="base.do('subtract-gold')">-30</button>
<button onclick="base.do('emailTime')">email</button>

<hr>

<a href="/the-front">
    Go to The Front
</a>