<div id="account" class="invisible content">
    <p id="please-login">Please login to view your account settings.</p>

    <div class="invisible settings">
        <h3>Email:</h3>
        <div class="setting" id="email">
            <p></p>
            <button onclick="base.playerAccount.editEmail()">Change Email</button>
        </div>
        <div class="edit invisible" id="email">
            <input type="email" name="email">
            <button onclick="base.playerAccount.updateEmail()">Update</button>
            <button onclick="base.playerAccount.cancelEmail()">Cancel</button>
        </div>
    
        <hr>
    
        <h3>Username:</h3>
        <div class="setting" id="username">
            <p></p>
            <button onclick="base.playerAccount.editUsername()">Change Username</button>
        </div>
        <div class="edit invisible" id="username">
            <input type="text" name="username">
            <button onclick="base.playerAccount.updateUsername()">Update</button>
            <button onclick="base.playerAccount.cancelUsername()">Cancel</button>
        </div>
    
        <hr>
    
        <h3>Password:</h3>
        <div class="setting" id="password">
            <p>*********</p>
            <p>Visit the Keeper to Change Your Password</p>
        </div>

        <p id="info"></p>
    </div>
</div>