<p>
    nono
</p>

<hr>

<div class="game">
    <h3><%= serverScriptReturns[0] %>Text</h3>
    <button>Click</button>
</div>

<hr>

<a href="/the-front" class="to">
    Go to The Front
</a>

<a href="/coast/tall-beach/nono-cove/nono-og" class="to">
    Go to Nono Cove
</a>