<p>
    nono
</p>

<hr>

<div class="chat-box" id="test-box">
    <div class="chat-name">Chatting using the name <%= user.username %>:</div>

    <div class="chat-log">
        
    </div>

    <input autocomplete="off" type="text" name="text" class="chat-entry">
    <div value="Send" class="chat-send">Send</div>
</div>

<hr>

<h3>memories Test</h3>

<button onclick="setTime()">Add</button>
<p id="timer">0:00</p>

<hr>

<button onclick="tradeForDoll()" id="trade">Trade 5g for a doll</button>

<hr>

<section class="floor" id="items">
    <h2>Items</h2>
    <button id="toggle">Toggle</button>

    <div class="content invisible">
        <ul class="items">

        </ul>
    
        <div class="editor">
            <div class="edit invisible">
                <h5>Item Name:</h5>
                <input type="text" id="name">
            
                <h5>Short Item Description:</h5>
                <textarea id="short" name="short" cols="30" rows="3"></textarea>
            
                <h5>Full Item Description:</h5>
                <textarea id="full" name="full" cols="30" rows="10"></textarea>

                <button id="cancel" onclick="itemFloor.cancelEdit()">Cancel</button>
                <button id="save" onclick="itemFloor.saveSelectedItem()">Save</button>
            </div>

            <div class="read">
                <h5 id="name">Item Name</h5>
            
                <h5>Short Item Description:</h5>
                <p id="short"></p>
            
                <h5>Full Item Description:</h5>
                <p id="full"></p>

                <button id="new" onclick="itemFloor.createNewItem()">Create New</button>
                <button id="edit" onclick="itemFloor.editSelectedItem()">Edit</button>
                <button id="delete" onclick="itemFloor.deleteSelectedItem()">Delete</button>
                <button id="refresh" onclick="itemFloor.updateItems()">Refresh List</button>
            </div>
        </div>
    </div>
</section>

<hr>

<a href="/the-front" class="to">
    Go to The Front
</a>

<a href="/coast/tall-beach/nono-cove/nono-og" class="to">
    Go to Nono Cove
</a>


<script src="/js/chat-box.js"></script>
<script>
    let chatTest = new ChatBox("<%= user.username %>", "test-box", "testRoom");

    let bought = false;

    let tradeForDoll = async function tradeForDoll() {
        if (!bought) {
            $("#trade").addClass("invisible");

            let paid = await playerInventory.change("Gold Coin", -5);
            
            if (paid) {
                bought = true;
                await playerInventory.change("Rag Doll", 1);
            }
            else {
                $("#trade").removeClass("invisible");
            }
        }
    }

    let time = 0;

    (async () => {
        let load = await memories.load("time", "/void/test");
        console.log(load);
        time = load.time;
    })();

    let setTime = async function setTime() {
        time = Date.now();
        
        await memories.save("time", {
            time: time,
            a: "dabfb",
            bln: false,
            numba: 4236,
            arrray: [32, "sg", 45],
            check: {
                time: time,
                a: "dabfb",
                bln: false,
                numba: 4236,
                arrray: [32, "sg", 45]
            }
        }, "/void/test");
    }
    
    let updateTime = function updateTime() {
        $("#timer").text(Math.floor((Date.now() - time) / 1000));
    }

    setInterval(updateTime, 1000);
</script>