<div class="chatter" id="adam"></div>
<input type="text" id="adam">
<button id="adam">Chat</button>

<script>
    class Spirit {
        constructor(name) {
            this.name = name;
            this.children = {};
        }

        addChild(child, parent) {
            if (!this.children[child.name]) {
                this.children[child.name] = 1;
            }

            this.children[child.name]++;
        }
    }

    class Chatter {
        constructor(id) {
            this.name = id;
            this.brain = new Spirit("i");
            this.$div = $(`.chatter#${id}`);
            this.$input = $(`input#${id}`);
            this.$submit = $(`button#${id}`);

            this.$submit.click(() => {
                this.listen(this.$input.val());
            });
        }

        register = (word) => {
            if (!this.brain[word]) {
                this.brain[word] = new Spirit(word);
            }

            return this.brain[word];
        }

        think = () => {

        }

        listen = (message) => {
            message = message.toLowerCase();
            let words = message.split(" ");

            //add words to the dialogue tree
            this.register(words[0]);    
            for (let i = 0; i < words.length; i++) {
                if (i < words.length - 1) {
                    let child = this.register(words[i + 1]);
                    if (i > 0) this.brain[words[i]].addChild(child, this.brain[words[i - 1]]);
                    else this.brain[words[i]].addChild(child, null);
                }
            }

            //think

            this.respond(message);
        }

        respond(message) {
            this.$div.append(`<p>${this.name}: ${message}</p>`);
        }
    }

    const adam = new Chatter("adam");
    adam.listen(`In the beginning God created the heavens and the earth`);
    adam.listen("if i have the first two words in a three word relationship can the third word be guessed")
</script>
</html>