<p>Hello</p>

<hr>

<a href="/the-front">
    Go to The Front
</a>

<script>
    // $.post("/forest/eye-of-the-forest/square/test/save", {
    //     test: 36
    // });

    // $.get("/forest/eye-of-the-forest/square/test/load", function (data) {
    //     console.log(data);
    // });
</script>