<p>
    Welcome to The Front.
</p>

<hr>

<div class="auth-form" id="login-form">
    <h1>NotherBase</h1>
    <h3>Login to Your Account</h3>
    <input type="text" name="username" placeholder="username" id="login-user">
    <input type="password" name="password" placeholder="password" id="login-pass">
    <button id="login-button">Login</button>
    <p id="login-info"></p>
</div>

<hr>

<h3>Passive Check</h3>
<% if (user.attributes.strength >= 5) { %>
    <p>You moved the boulder with your incredible strength of <%= user.attributes.strength %>.</p>
<% } else { %>
    <p>You could not move the boulder with a strength of <%= user.attributes.strength %>.</p>
<% } %>

<h3>Active Check</h3>
<p id="active-text">You have an unknown translation skill.</p>
<button onclick="activeCheckTest()">Check</button>

<h3>Train Check</h3>
<p id="train-text">You have an unknown defense skill.</p>
<button onclick="trainDefense()">Train Defense</button>

<hr>

<div class="locked to nother-base">
    Go to Nono Cove
</div>

<a href="/coast/tall-beach/nono-cove" class="invisible to nother-base">
    Go inside
</a>

<script>
    let $loginButton = $("#login-button");
    let $loginInfo = $("#login-info");
    let $toNonoButton = $(".locked.to.nother-base");
    let $toNonoLink = $(".invisible.to.nother-base");
    let $activeText = $("#active-text");
    let $trainText = $("#train-text");


    let activeCheckTest = function activeCheckTest() {
        $.get("/user/attributes/check", { check: "translation", against: 5 }, function (data) {
            if (data == "Pass") $activeText.text("You can translate pretty well.");
            else $activeText.text("You can't translate much.");
        });
    }

    let trainDefense = function trainDefense() {
        $.post("/user/attributes/increment", { change: "defense", max: 10 }, function (data, status) {
            console.log(status);
            if (status == "success") $trainText.text(`Your defense is now ${data.newLevel}.`);
            else if (status == "notmodified") $trainText.text("Your defense is maxed!");
        });
    }

    <% if (user) { %>
        $toNonoButton.addClass("invisible");
        $toNonoLink.removeClass("invisible");
    <% } %>

    $loginButton.on("click", async function () {
        try {
            await $.post("/user/login", {
                username: $("#login-user").val(),
                password: $("#login-pass").val()
            }, (data) => {
                $loginInfo.text("To your right you hear the sound of a bang against a chain-link fence. You've logged in.");
                $toNonoButton.addClass("invisible");
                $toNonoLink.removeClass("invisible");
                
                if (playerInventory) {
                    playerInventory.refresh();
                }
            });
        } catch (error) {
            //console.log(error);
            if (error.status === 401) {
                $loginInfo.text("Login Error: Username or password incorrect!");
            }
            else if (error.status === 500) {
                $loginInfo.text("Server Error: Try again later!");
            }
        }
    });
</script>