<p>
    Welcome to The Front.
</p>

<hr>

<div class="auth-form" id="login-form">
    <h1>NotherBase</h1>
    <h3>Login to Your Account</h3>
    <input type="text" name="username" placeholder="username" id="login-user">
    <input type="password" name="password" placeholder="password" id="login-pass">
    <button id="login-button">Login</button>
    <p id="login-info"></p>
</div>

<hr>

<div class="locked to nother-base">
    Go to Nono Cove
</div>

<a href="/coast/tall-beach/nono-cove" class="invisible to nother-base">
    Go inside
</a>

<script>
    let $loginButton = $("#login-button");
    let $loginInfo = $("#login-info");
    let $toNonoButton = $(".locked.to.nother-base");
    let $toNonoLink = $(".invisible.to.nother-base");

    <% if (user) { %>
        $toNonoButton.addClass("invisible");
        $toNonoLink.removeClass("invisible");
    <% } %>

    $loginButton.on("click", async function () {
        try {
            await $.post("/user/login", {
                username: $("#login-user").val(),
                password: $("#login-pass").val()
            }, (data) => {
                $loginInfo.text("To your right you hear the sound of a bang against a chain-link fence. You've logged in.");
                $toNonoButton.addClass("invisible");
                $toNonoLink.removeClass("invisible");
                
                if (playerInventory) {
                    playerInventory.refresh();
                }
            });
        } catch (error) {
            //console.log(error);
            if (error.status === 401) {
                $loginInfo.text("Login Error: Username or password incorrect!");
            }
            else if (error.status === 500) {
                $loginInfo.text("Server Error: Try again later!");
            }
        }
    });
</script>