.chat-box {
    position: relative;
    box-shadow: var(--boxShadow);
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    margin: var(--margin);
}

.chat-box h4 {
    padding: var(--padding);
    border-radius: none;
    border: none;
}

.chat-log {
    width: 100%;
    height: calc(100% - 65px);
    background-color: rgba(0, 0, 0, 0.534);
    overflow: auto;
    padding: 5px;
    border-radius: none;
}

.chat-send {
    height: 35px;
    width: 5em;
    outline: none;
    background-color: var(--bgColor);
    border: var(--standardBorder);
    color: var(--textColor);
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.chat-send:hover {
    border: 1px solid var(--textColorBright);
    color: var(--textColorBright);
    cursor: pointer;
}

.chat-entry {
    height: 35px;
    width: calc(100% - 5em);
    outline: none;
    background-color: var(--bgColor);
    border: var(--standardBorder);
    color: var(--textColor);
    margin: 0;
    padding: var(--padding);
}

.chat-log > p {
    color: var(--textColor);
    margin: 0;
    padding: 2px;
    line-height: 1em;
    text-align: left;
}

.chat-box>ul {
    width: 100%;
    height: 0;
    border: var(--standardBorder);
    margin: 0;
    position: absolute;
    top: 30px;
    left: 0;
    transition: all .25s ease;
    overflow: hidden;
    background: var(--bgColor);
}

.chat-box>ul.shown {
    height: calc(100% - 30px);
}

.chat-box #chatting {
    width: 100%;
    height: 25px;
    padding: var(--padding);
}