<p>
    Welcome to The Front.
</p>

<button onclick="addGold()">Gold</button>

<button onclick="emailTime()">email</button>

<input type="text" id="general">

<button onclick="newItem()">newItem</button>
<button onclick="deleteItem()">deleteItem</button>
<button onclick="playerInventory.change($('#general').val(), 3)">add Item to inv</button>
<button onclick="emailTime()">email time</button>

<hr>

<h3>Register Account</h3>
<input type="email" placeholder="email" id="register-email">
<input type="text" placeholder="username" id="register-user">
<input type="password" placeholder="password" id="register-pass">
<button id="register-button">register</button>
<button onclick="loggin()">Login</button>
<p id="register-info"></p>

<hr>

<div class="auth-form" id="reset-form">
    <h1>NotherBase</h1>
    <h3>Reset your Password</h3>
    <input type="number" placeholder="Your Reset Code" id="token">
    <input type="password" placeholder="Type Your New Password Here" minlength="8" required id="password">
    <input type="password" placeholder="Type Your New Password Here Again" minlength="8" required id="confirmation">
    <button id="change-password">Change Password</button>
    <p id="change-info"></p>
</div>

<hr>

<a href="/coast/tall-beach/nono-cove" class="to nother-base">
    Go inside
</a>

<a href="/the-front/check">
    Go to The Check
</a>

<script>
    class Test {
        constructor() {
            this.$resetPassword = $("#reset-form #password");
            this.$resetToken = $("#reset-form #token");
            this.$resetConfirmation = $("#reset-form #confirmation");
            this.$registerButton = $("#register-button");
            this.$registerInfo = $("#register-info");
            this.$changePasswordButton = $("button#change-password");
            this.$changeInfo = $("#change-info");
            this.$toNonoButton = $(".locked.to.nother-base");
            this.$toNonoLink = $(".invisible.to.nother-base");

            $registerButton.on("click", async function () {
                let response = await base.attemptRegister(
                    $("#register-email").val(),
                    $("#register-user").val(),
                    $("#register-pass").val()
                );
        
                if (response.status === "success") $registerInfo.text("Account registered.");
                else console.log(response);
            });
        
            $changePasswordButton.on("click", async function () {
                let response = await base.changePassword(
                    $resetToken.val(), 
                    $resetPassword.val(), 
                    $resetConfirmation.val()
                );
        
                if (response.status === "success") $changeInfo.text("Password changed.");
                else console.log(response);
            });
        }
    
        loggin = async () => {
            base.freeLogin($("#register-email").val(), $("#register-pass").val());
        }
    
        addGold = function addGold(params) {
            playerInventory.change("Gold Coin", 23);
        }
    
        newItem = async () => {
            await commune("newItem", {
                name: $("#general").val()
            });
    
            let items = await commune("getAllItems");
            console.log(items);
        }
    
        deleteItem = async () => {
            await commune("deleteItem", {
                name: $("#general").val()
            });
        }
    
        emailTime = async () => {
            await commune("serveFront", {
                script: "emailTime",
                toEmail: "wyattsushi@gmail.com",
                subject: "New Time Update!",
                html: `New Time: 3       0976`
            }, { route: currentRoute });
        }
    }
</script>